/* {
    border: red solid 1px;
}*/

html {
    font-family: 'Roboto', sans-serif;
}

main {
    box-sizing: border-box;
    max-width: 95%;
    margin-bottom: 20px;
}

header {
    text-align: center;
}


input[type='placeholder'][value] {
    color: gray;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#settings1 {
    width: 60%;
}

#settings2 {
    width: 35%;
    align-self: center;
}

#settings3 {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

#radio {
    display: flex;
    }

#styleradio {
    display: flex;
}

.radiobox{
    border: 1px black solid;
    padding: 3px;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

[type='text']{
    width: 95%;
}

.button {
    margin: 10px;
}

#memeContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}


.meme {}

.small {
    width: 200px;
}

.medium {
    width: 400px;
}

.large {
    width: 600px;
}

.upper,.lower {
    position: relative;
    z-index: 1;
    left: 5px;
}

img {
    position: relative;
    top: 0px;
    z-index: 0;
}

.del {
    position: relative;
    right:27px;
    bottom: 7px;
    opacity: .4;
    width: 25px;
    z-index: -1;
    /* transition: z-index 500ms; */
}

footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: white;
    z-index: 2;

}