/* {
    border: red solid 1px;
}*/

main {
    box-sizing: border-box;
    max-width: 95%;
}

header {
    text-align: center;
}


input[type='placeholder'][value] {
    color: gray;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#settings1 {
    width: 60%;
}

#settings2 {
    width: 30%;
    align-self: center;
}

#settings3 {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

#radio {
    display: flex;
    }

.radiobox{
    border: 1px black solid;
    padding: 3px;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

[type='text']{
    width: 95%;
}

.button {
    margin: 10px;
}

#memeContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.meme {


}

.small {
    width: 200px;
}

.medium {
    width: 400px;
}

.large {
    width: 600px;
}

.upper,.lower {
    position: relative;
    z-index: 1;
    left: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

img {
    position: relative;
    top: 0px;
}

.del {
    position: absolute;
    right: 37.5%;
    top: 45%;
    opacity: .25;
    width: 25%;
}

footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: white;
    z-index: 2;

}